nlsr/*
!nlsr/docker-compose.yml
!nlsr/Dockerfile
!nlsr/nfd.conf
!nlsr/nlsr.conf
!nlsr/README
ndncert/*
!ndncert/docker-compose.yml
!ndncert/Dockerfile
!ndncert/nfd.conf
ping_nfd/ndn-tools/*
!ping_nfd/ndn-tools/Dockerfile
!ping_nfd/ndn-tools/README
ndn6/*
!ndn6/Dockerfile
!ndn6/docker-compose.yml
templating/*
!templating/*.py
!templating/rendering_init_values.yml
!templating/docker-compose.yml