# Note that the service name must match what is in the corresponding docker compose
environment_path: .

# Path to directory containing variable values for each host
host_vars_path: host_vars

# Path to file containing secrets (will extend this file)
secret_config: secrets.yml

# This must match exactly with the docker-compose.yml file
services:
  caddy:
    template_path: templates/caddy
    render_path: dist/caddy

  nfd:
    template_path: templates/nfd
    render_path: dist/nfd
    init_exec: ['/bin/bash', '/config/nfd-init.sh']

  nfd-http-status-server:
    pass: on

  ndnpingserver:
    template_path: templates/ndnpingserver
    render_path: dist/ndnpingserver

  serve-certs:
    pass: on

  nlsr:
    template_path: templates/nlsr
    render_path: dist/nlsr

  ndn-python-repo:
    template_path: templates/ndn-python-repo
    render_path: dist/ndn-python-repo

  ndncert:
    template_path: templates/ndncert
    render_path: dist/ndncert

  http-ca-server:
    template_path: templates/root-ca
    render_path: dist/root-ca
    if: root_ca

# Global variables that are available in all templates
globals:
  ndnNetwork: /ndn
  hyperbolic_state: "off"
  tcp_port: 6363
  udp_port: 6363
  multicast_port: 56363
  supports_guest_certs: False
  operator_user: ndnops
  root_ca_https: https://suns.cs.ucla.edu/root-ca

# Declare variables available for each host
# You can use lint.py to check variables, their types and
# reformat the host_vars correctly
variables:
  site: string
  site_name: string
  operator_name: string
  operator_email: string
  ansible_host: string
  host_ip: string
  local_ip: string
  site_email_domain: list
  default_prefix: string
  advertised_prefixes: list
  routable_prefixes: list
  network_regions: list
  router_name: string
  http_access: string
  memsize: number
  neighbors: dict
  hr_angle: number
  hr_radius: number
  ethernet_device: string
  root_ca: ?boolean