#!/bin/bash

set -e
source "$(pwd)/scripts/utils.sh"
cd "$(dirname "${BASH_SOURCE[0]}")"

# Variables
PREFIX="{{ default_prefix }}"
OPERATOR="{{ operator_user }}"
HOSTNAME="{{ inventory_hostname }}"
ROUTER="{{ router_name }}"

# Key names
OPERATOR_KEY="${PREFIX}/%C1.Operator/${OPERATOR}"
ROUTER_KEY="${PREFIX}/%C1.Router/${ROUTER}"

# Paths
WORKING_DIR="$(pwd)"
NDNCERT_DIR="$(pwd)/../ndncert"
OPERATOR_CERTFILE="${WORKING_DIR}/operator.cert"
ROUTER_CERTFILE="${WORKING_DIR}/router.cert"

# Operator certificate
if [[ $(needs_renewal "${OPERATOR_CERTFILE}") ]]; then
  export HOME="${WORKING_DIR}"
  get_csr "${OPERATOR_KEY}" > "${OPERATOR_CERTFILE}.csr"

  export HOME="${NDNCERT_DIR}"
  ndnsec cert-gen -S 202204010000 -E 20320401000 -s "${PREFIX}" \
    -r "${OPERATOR_CERTFILE}.csr" > "${OPERATOR_CERTFILE}"

  export HOME="${WORKING_DIR}"
  ndnsec cert-install -f "${OPERATOR_CERTFILE}"
fi

# Router certificate
if [[ $(needs_renewal "${ROUTER_CERTFILE}") ]]; then
  export HOME="${WORKING_DIR}"
  get_csr "${ROUTER_KEY}" > "${ROUTER_CERTFILE}.csr"

  ndnsec cert-gen -S 201802010000 -E 202802010000 -s "${OPERATOR_KEY}" \
    -r "${ROUTER_CERTFILE}.csr" > "${ROUTER_CERTFILE}"

  ndnsec cert-install -f "${ROUTER_CERTFILE}"
fi

renew_cleanup