{
    {% for name, data in hostvars.items() %}
    {{ name | tojson }}: {{{
        'shortname': name,
        'name': data['site_name'],
        'ip_addresses': [data['host_ip']],
        'host': data['ansible_host'],
        'prefix': data['default_prefix'],

        'neighbors': list(neighbors.keys()),
        'position': data['position'],
        '_real_position': data['position'],

        'memsize': str(data['memsize']) + 'G',
        'backbone': true,
        'fch-enabled': true,
    } | tojson }}
    {% if not loop.last %},{% endif %}
    {% endfor %}
}