{
    {% for name, data in hostvars.items() %}
    {{ name | tojson }}: {{{
        'shortname': name,
        'name': data['site_name'],
        'ip_addresses': [data['host_ip']],
        'prefix': data['default_prefix'],

        'host': data['ansible_host'],
        'site': 'http://' + data['ansible_host'] + ':80/',
        'https': 'https://' + data['ansible_host'] + ':443/',

        'neighbors': list(data['neighbors'].keys()),
        'position': data['position'],
        '_real_position': data['position'],

        'memsize': str(data['memsize']) + 'G',
        'backbone': true,
        'fch-enabled': true,
    } | tojson }}
    {% if not loop.last %},{% endif %}
    {% endfor %}
}