{
  "ca-prefix": "{{ default_prefix }}",
  "ca-info": "NDN Testbed NDNCERT Site CA for {{ inventory_hostname }} ",
  "max-validity-period": "7776000",
  "max-suffix-length": "5",
  "probe-parameters":
  [
    { "probe-parameter-key": "email" }
  ],
  "name-assignment":
  {
    "email": "{{ site }}"
  },
  "supported-challenges":
  [
    { "challenge": "email" }
  ]
}