#!/bin/bash

set -e

# Function to allow call to fail and return exit code
allow_fail_status=0
function allow_fail { set +e; $@; allow_fail_status=$?; set -e; }

# Change directory to containing folder
cd "$(dirname "${BASH_SOURCE[0]}")"

# Variables
KEY_NAME="{{ default_prefix }}"
ROOT_CA_HTTPS="{{ root_ca_https }}"
ROOT_CA_SECRET="{{ ROOT_CA_SECRET }}"

# Home and keys directories
PRIVATE_DIR="$(pwd)/private"

# Make sure the private directory exists
mkdir -p "${PRIVATE_DIR}"

# Create new keypair if it does not exist
export HOME="${PRIVATE_DIR}"
allow_fail ndnsec sign-req "${KEY_NAME}" > "${PRIVATE_DIR}/ndncert.csr"
if [ $allow_fail_status -ne 0 ]
then
  echo -e "Generating new operator keypair"
  ndnsec key-gen -n "${KEY_NAME}" > "${PRIVATE_DIR}/ndncert.csr"
fi

# Get certificate from root certificate authority
curl -s -X POST --upload-file "${PRIVATE_DIR}/ndncert.csr" -o "${PRIVATE_DIR}/site.ndncert" \
    "${ROOT_CA_HTTPS}/sign?secret=${ROOT_CA_SECRET}"

# Install certificate to keychain
ndnsec cert-install -f "${PRIVATE_DIR}/site.ndncert"

# Clear intermediate files
rm -f "${PRIVATE_DIR}/*.csr"
