#!/bin/bash

set -e

# Change directory to containing folder
SCRIPT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
cd $SCRIPT_DIR

# Variables
PREFIX="{{ default_prefix }}"
ROOT_CA_HTTPS="{{ root_ca_https }}"
ROOT_CA_SECRET="{{ smtp_password }}"

# Home and keys directories
PRIVATE_DIR="$(pwd)/private"

# Make sure the private directory exists
rm -rf "${PRIVATE_DIR}"
mkdir -p "${PRIVATE_DIR}"

# Create new key
# TODO: skip if a valid key already exists
export HOME="${PRIVATE_DIR}"
ndnsec key-gen "${PREFIX}" > "${PRIVATE_DIR}/ndncert.csr"

curl -X POST --upload-file "${PRIVATE_DIR}/ndncert.csr" -o "${PRIVATE_DIR}/site.ndncert"
    "${ROOT_CA_HTTPS}/sign?secret=${ROOT_CA_SECRET}"

# Install certificate to keychain
ndnsec-cert-install -f "${PRIVATE_DIR}/site.ndncert"
