#!/bin/bash

set -e
source "$(pwd)/scripts/utils.sh"
cd_script_dir

# Variables
KEY_NAME="{{ default_prefix }}"
ROOT_CA_HTTPS="{{ root_ca_https }}"
ROOT_CA_SECRET="{{ ROOT_CA_SECRET }}"

# Paths
WORKING_DIR="$(pwd)"
NDNCERT_CERTFILE="${WORKING_DIR}/site.ndncert"

# NDNCERT certificate
if [[ $(needs_renewal "${NDNCERT_CERTFILE}") ]]; then
  export HOME="${WORKING_DIR}"
  get_csr "${KEY_NAME}" > "${NDNCERT_CERTFILE}.csr"

  # Get certificate from root certificate authority
  curl -fsSL -X POST --upload-file "${NDNCERT_CERTFILE}.csr" -o "${NDNCERT_CERTFILE}" \
      "${ROOT_CA_HTTPS}/sign?secret=${ROOT_CA_SECRET}"

  # Install certificate to keychain
  ndnsec cert-install -f "${NDNCERT_CERTFILE}"
fi

renew_cleanup
