#!/bin/bash

set -e
source "$(pwd)/scripts/utils.sh"
cd_script_dir

# Variables
PREFIX="{{ default_prefix }}"
KEY_NAME="${PREFIX}/%C1.Repo"

# Paths
WORKING_DIR="$(pwd)"
NDNCERT_DIR="$(pwd)/../ndncert"
REPO_CERTFILE="${WORKING_DIR}/repo.cert"

# Repo certificate
if [[ $(needs_renewal "${REPO_CERTFILE}") ]]; then
  export HOME="${WORKING_DIR}"
  get_csr "${KEY_NAME}" > "${REPO_CERTFILE}.csr"

  export HOME="${NDNCERT_DIR}"
  ndnsec cert-gen -S 202204010000 -E 20320401000 -s "${PREFIX}" \
    -r "${REPO_CERTFILE}.csr" > "${REPO_CERTFILE}"

  export HOME="${WORKING_DIR}"
  ndnsec cert-install -f "${REPO_CERTFILE}"
fi

renew_cleanup