repo_config:
  repo_name: {{ default_prefix }}/repo
  register_root: False

db_config:
  db_type: mongodb

  mongodb:
    db: {{ inventory_hostname }}_python_repo
    collection: ndn_data
    uri: mongodb://mongodb:27017/

tcp_bulk_insert:
  addr: 0.0.0.0
  port: 7378

logging_config:
  level: INFO
