{{ ansible_host }}

reverse_proxy http://nfd-http-status-server:8080
reverse_proxy /ws* http://nfd:9696

{% if is_root_ca is defined %}
handle_path /root-ca* {
  reverse_proxy http://root-http-ca:8777
}
{% endif %}
