name: Build
on:
  push:
    paths:
      - 'framework/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  status-page:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Build status page
        working-directory: framework/ndn-testbed-status
        run: |
          npm ci
          npm run build

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./framework/ndn-testbed-status/dist
          force_orphan: true
